<div class="login-with-email">
  <div class="login-with-email-wrapper">
    <mat-card class="card-padding">

      <div class="login-header" fxLayout="column" fxLayoutAlign="center center">
        <img class="header-logo" src="assets/img/user-profile.png" alt="login logo">
        <p class="header-title">Log in to the website</p>
      </div>
      <form [formGroup]="loginForm">
        <mat-form-field class="mat-form-field">
          <mat-label>Email *</mat-label>
          <input matInput formControlName="Email" placeholder="Email">

          <mat-error>
            <p *ngIf="loginForm.controls.Email.hasError('required')">Email Address is required</p>
            <p *ngIf="loginForm.controls.Email.hasError('email')">Invalid Email Address</p>
          </mat-error>

        </mat-form-field>

        <mat-form-field class="mat-form-field">
          <mat-label>Password *</mat-label>
          <input matInput formControlName="Password" type="password" placeholder="Password">

          <mat-error>
            <p *ngIf="loginForm.controls.Password.hasError('required')">Password is required</p>
            <p *ngIf="loginForm.controls.Password.hasError('minlength')">Invalid Password, Password needs to be at least 8 character</p>
          </mat-error>

        </mat-form-field>

        <button mat-raised-button color="primary" class="margin-top-16" [disabled]="loginForm.invalid">Submit</button>
      </form>
    </mat-card>
  </div>
</div>
