<div class="register-with-email">
  <div class="registration-form-wrapper">

    <mat-card class="card-padding">

      <div class="login-header" fxLayout="column" fxLayoutAlign="center center">
        <img class="header-logo" src="assets/img/user-profile.png" alt="login logo">
        <p class="header-title">Registration</p>
      </div>

      <form [formGroup]="registrationForm" (ngSubmit)="onRegistrationFormSubmit()">

        <mat-form-field class="margin-top-16">
          <mat-label>First Name *</mat-label>
          <input matInput formControlName="FirstName" placeholder="First Name">

          <mat-error>
            <p *ngIf="registrationForm.controls.FirstName.hasError('required')">First Name is required</p>
            <p *ngIf="registrationForm.controls.FirstName.hasError('maxlength')">Maximum character limit is 50</p>
          </mat-error>

        </mat-form-field>

        <mat-form-field class="margin-top-16">
          <mat-label>Last Name *</mat-label>
          <input matInput formControlName="LastName" placeholder="Last Name">

          <mat-error>
            <p *ngIf="registrationForm.controls.LastName.hasError('required')">Last Name is required</p>
            <p *ngIf="registrationForm.controls.LastName.hasError('maxlength')">Maximum character limit is 50</p>
          </mat-error>

        </mat-form-field>

        <mat-form-field class="margin-top-16">
          <mat-label>Email *</mat-label>
          <input matInput formControlName="Email" placeholder="Email">

          <mat-error>
            <p *ngIf="registrationForm.controls.Email.hasError('required')">Email Address is required</p>
            <p *ngIf="registrationForm.controls.Email.hasError('email')">Invalid Email Address</p>
          </mat-error>

        </mat-form-field>

        <mat-form-field class="margin-top-16">
          <mat-label>Password *</mat-label>
          <input matInput formControlName="Password" type="password" placeholder="Password">

          <mat-error>
            <p *ngIf="registrationForm.controls.Password.hasError('required')">Password is required</p>
            <p *ngIf="registrationForm.controls.Password.hasError('minlength')">Invalid Password, Password needs to be at least 8 character</p>
          </mat-error>

        </mat-form-field>

        <button mat-raised-button color="primary" class="margin-top-16" [disabled]="registrationForm.invalid" type="submit">Submit</button>

      </form>
    </mat-card>
  </div>
</div>
