.registration-form-wrapper{
  width: 480px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .card-padding{
    padding: 40px;
  }

  .login-header{

    margin-bottom: 30px;

    .header-logo{
      width: 60px;
      //display: block;
      //margin: 0 auto;
    }
    .header-title{
      margin-top: 15px;
      //text-align: center;
    }
  }

  mat-form-field{
    width: 100%;
  }

  .checkbox{
    margin-top: 12px;
  }

}

.margin-top-16{
  margin-top: 16px;
}
